@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-optical-sizing: auto;

    box-sizing: border-box;
}

body{
    line-height: 1.5;
    background-color: #352F44;
    overflow: hidden;
    /* giới thiệu */
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
}

/* Thanh dieu huong */
.navbar{
    background-color: #5C5470;
    position: fixed;
    width: 60%;
    height: 50px;
    border-radius: 10px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 30px rgba(73, 65, 106, 0.975);
    z-index: 1;
}

/* Link */
.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    transition: 0.5s;
}

.navbar a:hover, a:active{
    color: #B9B4C7;
    height: 10%;
}

.navbar li{
    margin: 0 50px;
    float: none;
}

/* ICON */
.fa-solid{
    font-size: 22px;
    padding: 10px;
}

/* Giới thiệu */
.info{
    display: flex;
    gap: 100px;
}

.line{
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: #7A85C1;
    box-sizing: border-box; /*tránh padding làm tăng kích thước*/
    padding: 25px;
    flex-direction: column;
    align-items: flex-start; /*căn nd ở lề trái*/
    text-align: left; /*căn chữ ở lề trái*/
}

.line h1{
    color: #FFD700;
    text-align: center;
}

.line ul{
    /* list-style-type: none; */
    padding: 0; /*Xóa căn lề mặc định của ul*/
    margin: 0; /*Cái này như padding*/
}

.line ul li{
    margin-bottom: 10px;
    line-height: 1.5; /*điều chỉnh chiều cao dòng đọc cho dễ*/
    font-size: 1.1em;
    color: #E0E0E0;
}