@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-optical-sizing: auto;

}

body{
    line-height: 1.5;
    background-color: #352F44;
    overflow: hidden;
}

/* Thanh dieu huong */
.navbar{
    background-color: #5C5470;
    position: fixed;
    width: 60%;
    height: 50px;
    border-radius: 10px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 30px rgba(73, 65, 106, 0.975);
    z-index: 1;
}

/* Link */
.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    transition: 0.5s;
}

.navbar a:hover, a:active{
    color: #B9B4C7;
    height: 10%;
}

.navbar li{
    margin: 0 50px;
    float: none;
}

/* ICON */
.fa-solid{
    font-size: 22px;
    padding: 10px;
}