@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

:root {
    --bg-color: #F5EFFF;
    --text-color: #F5EFFF;
    --accent-color: #CDC1FF;
    --bgs-color: #A294F9;
}

[data-theme="dark"] {
    --bg-color: #352F44;
    --text-color: #fff;
    --accent-color: #5C5470;
    --bgs-color: #5C5470;
}

body{
    line-height: 1.5;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* Thanh dieu huong */
.navbar{
    background-color: var(--accent-color);
    position: fixed;
    width: 60%;
    height: auto;
    border-radius: 10px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 30px rgba(73, 65, 106, 0.975);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* flex: 2;
    display: flex;
    justify-content: center; */
    z-index: 1;
}

/* Link */
.navbar ul{
    list-style-type: none;
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    height: 100%;
    padding: 0;
    margin: 0;
    /* width: 100%; */
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    transition: 0.5s;
    /* Thêm chỉnh sửa cho Navbar */
    display: flex; /*Đổi a qua flex container*/
    align-items: center;
    gap: 8px;
}

.navbar a:hover, a:active{
    color: #B9B4C7;
    /* height: 10%; */
}

.navbar li{
    /* margin: 0 50px; */
    float: none;
}

.mobile-menu{
    display: none;
}

/* ICON */
.fa-solid{
    font-size: 22px;
    padding: 5px;
}

/* Sang toi */
.theme-switch {
    position: relative;
    display: inline-block;
    width: 80px;
    /* height: auto; */
    height: 38px;
    /* justify-content: center;
    margin-left: 10px;
    margin-left: auto;
    align-items: center; */
    flex-shrink: 0;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #9290C3;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 34px;
    width: 34px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

/* Gạt sang phải khi bật */
input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider::before {
    transform: translateX(42px);
}

/* Hinh anh */
.img-box{
    height: 700px;
    width: 65%;
    background-color: #200E3A;
    left: 50%;
    top: -50%;;
    transform: translate(-50%, 30%);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.img-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: cover;
    border-radius: 10px;
    animation: fade 24s infinite;
}

.img-box img:nth-child(1) { animation-delay: 0s; }
.img-box img:nth-child(2) { animation-delay: 3s; }
.img-box img:nth-child(3) { animation-delay: 6s; }
.img-box img:nth-child(4) { animation-delay: 9s; }
.img-box img:nth-child(5) { animation-delay: 12s; }
.img-box img:nth-child(6) { animation-delay: 15s; }
.img-box img:nth-child(7) { animation-delay: 18s; }

@keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}

.img-box .img-content p{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3); /* nền mờ nếu cần */
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    font-family: "Playwrite HU", cursive;
}


/* Giới thiệu */
.info{
    display: flex;
    gap: 200px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 500px 0 150px;
    display: flex;
}

.line{
    width: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: var(--bgs-color);
    box-sizing: border-box; /*tránh padding làm tăng kích thước*/
    padding: 23px;
    flex-direction: column;
    align-items: flex-start; /*căn nd ở lề trái*/
    text-align: left; /*căn chữ ở lề trái*/
}

.line h1{
    color: #FFD700;
    text-align: center;
}

.line ul{
    /* list-style-type: none; */
    padding: 23px;  /*Xóa căn lề mặc định của ul*/
    margin: 0; /*Cái này như padding*/
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.line ul li{
    font-weight: 550;
    margin-bottom: 10px;
    line-height: 1.5; /*điều chỉnh chiều cao dòng đọc cho dễ*/
    font-size: 1.1em;
    color: var(--text-color);
    text-decoration: none;
}

.line .line-en li{
    font-size: 1.2em;
    line-height: 1.7;
}

/* Mang xa hoi */
.social{
    text-align: center;
    margin: 60px;
}

.social a{
    font-size: 60px;
    font-weight: 700;
    color: var(--bgs-color);
    padding: 50px;
}

.social .fa-square-facebook:hover{
    color: aqua;
}

.social .fa-tiktok:hover{
    color: black;
}

.social .fa-instagram:hover{
    color: pink;
}


/* Ipad, Tablet */
@media (max-width: 1036px){
    .navbar{ /*hợp với chiều dọc của điện thoại*/
        padding: 10px 0;
        gap: 15px;
        align-items: flex-start;
        width: 80%;
        display: inline-block;
        text-align: left;
    }
    
    .navbar ul{
        /* flex-direction: column;
        align-items: flex-start; */
        width: 100%;
        gap: 10px;
    }
    .navbar a{
        font-size: 1em;
        flex-direction: row;
        /* display: flex; */
        justify-content: flex-start;
        align-items: center;
        font-weight: 600;
        width: 100%;
        box-sizing: border-box;
        padding-left: 15px;
    }
    
    .theme-switch{
        /* margin-top: 6px; */
        position: absolute; /* Đặt tuyệt đối so với navbar */
        top: 15px;
        right: 15px;
        width: 50px; /* Giảm kích thước switch */
        height: 25px;
        border-radius: 12.5px;
        flex-shrink: 0;
    }
    
    .slider{
        border-radius: 12.5px;
    }
    .slider::before{
        width: 21px; /* Giảm kích thước toggle*/
        height: 21px;
        top: 2px;
        left: 2px;
    }
    input:checked + .slider::before{
        transform: translateX(25px);
    }

    .img-box{
        width: 90%;
        height: 650px;
    }

    .info{
        flex-direction: column;
        gap: 35px;
        /* margin: 50px 0 250px; */
        margin-bottom: 100px;
        margin-top: 500px;
    }
    .line{
        width: 90%;
    }

    .social a{
        font-size: 50px;
        font-weight: 700;
        padding: 50px;
    }
}

/* Mobile */
@media (max-width: 700px){
    /* Thanh điều hướng */
    .navbar{
        flex-direction: column; /*hợp với chiều dọc của điện thoại*/
        padding: 10px 0;
        gap: 15px;
        align-items: flex-start;
        width: 90%;
        display: inline-block;
        text-align: left;
    }

    /* Thêm mới cho ul */
    .navbar ul{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
    }

    .navbar a{
        font-size: 1em;
        flex-direction: row;
        /* display: flex; */
        justify-content: flex-start;
        align-items: center;
        /* font-weight: bold; */
        width: 100%;
        box-sizing: border-box;
        padding-left: 15px;
    }

    .navbar .mobile-menu{
        position: relative;
        color: #fff;
        line-height: 30px;
        padding: 0 20px;
        top: 0;
        left: 0;
        font-size: 25px;
        display: inline-block;
        cursor: pointer;
    }


    #nav-link {
        display: none;
        flex-direction: column;
        height: 130px;
        background-color: var(--accent-color);
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px;
        border-radius: 10px;
        z-index: 999;
    }

    #nav-link.show {
        display: flex;
    }

    .navlink > li {
        display: block;
    }

    /*Chế độ sáng tối*/
    .theme-switch{
        /* margin-top: 6px; */
        position: absolute; /* Đặt tuyệt đối so với navbar */
        top: 15px;
        right: 15px;
        width: 50px; /* Giảm kích thước switch */
        height: 25px;
        border-radius: 12.5px;
        flex-shrink: 0;
    }

    .slider{
        border-radius: 12.5px;
    }
    .slider::before{
        width: 21px; /* Giảm kích thước toggle*/
        height: 21px;
        top: 2px;
        left: 2px;
    }
    input:checked + .slider::before{
        transform: translateX(25px);
    }

    /* Hình ảnh */
    .img-box{
        width: 90%;
        transform: (-50%, 0);
        top: 0;
        margin-top: 120px;
        height: 300px;
    }

    .img-box .img-content p{
        font-size: 15px;
    }

    /* Nội dung */
    .info{
        flex-direction: column;
        gap: 15px;
        /* margin: 50px 0 250px; */
        margin-bottom: 100px;
        margin-top: 200px;
    }
    .line{
        width: 90%;
    }
    
    .social a{
        font-size: 35px;
        font-weight: 700;
        padding: 20px;
    }
}